@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue";
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(34, 37, 41, 0.7);
}

.custom-slick-dots {
  background: #2E3335;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.custom-slick-dots button::before {
  color: white !important;
  font-size: 8px !important;
}
